<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Index</title>
</head>
<body>

<h1>lists</h1>
<ul>
    <li>
        <a target="_blank" href="/news?news=0&comment=0">news 1, conservative</a>
    </li>
    <li>
        <a target="_blank" href="/news?news=0&comment=1">news 1, progressive</a>
    </li>
    <li>
        <a target="_blank" href="/news?news=0&comment=2">news 1, composite</a>
    </li>
    <li>
        <a target="_blank" href="/news?news=1&comment=0">news 2, conservative</a>
    </li>
    <li>
        <a target="_blank" href="/news?news=1&comment=1">news 2, progressive</a>
    </li>
    <li>
        <a target="_blank" href="/news?news=1&comment=2">news 2, composite</a>
    </li>
</ul>

<p>go for each</p>

</body>
</html>